
/*universal styles*/
html {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    opacity: 80%;
}
body {
    margin: 0; padding: 0;
}

/* fonts */
a {
    text-decoration: none;
}
#here {
    color: #ded1ce;
    cursor: default;
}

/* index */

/*header*/
.header {
    left: 0; right: 0; top: 0;
    margin: 0; padding: 0;
    height: 12rem;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name, .nav, .contact {
    margin: 0; 
    padding: 0.25rem;
    width: 40rem;
    text-align: center;
}
header a:hover, .nav a:hover, .contact a:hover {
    color: #ded1ce;
    cursor: pointer;
}
.name, .contact, .nav {
    border-bottom: 1px solid black;
}
.name a {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
.name a h1 {
    margin: 0; padding: 1rem;
}
.contact a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.contact img {
    height: 1.5rem;
}
.contact a h2 {
    margin: 0; padding: 0;
    font-size: 1.5rem;
    color: black;
    letter-spacing: 0.25rem;
}
.nav {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav a {
    margin: 0; padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: black;
}

/*main*/
.content {
    left: 0; right: 0;
    top: 12rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .home-box {
    padding: 1rem;
    margin: 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .home-box img {
    padding: 0.125rem;
    margin: 0.125rem;
    height: 20rem;
}











/* about */
.about-container {
    top: 12rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statement-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}
.statement-portrait, .statement-text {
    padding: 2rem;
}
.statement-portrait img {
    height: 20rem;
}
#statement-quote {
    padding: 0.25rem;
    font-style: italic;
    text-align: center;
}
#statement-quote p {
    margin: 0;
}
.cv-container {
    margin: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}
.cv-container td {
    padding: 0.5rem;
}


/*gallery*/
.gallery-header {
    left: 0; right: 0;
    top: 12rem;
    height: 3rem;
    background-color: #eeeeee;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-nav a {
    margin: 0; padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: black;
}
.gallery-content {
    left: 0; right: 0;
    top: 12rem;
    padding: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.gallery-box {
    margin: 0 1rem 4rem;
    padding: 1rem;
}
.gallery-box img {
    height: 20rem;
}
#gallery-title {
    font-size: 1rem;
    font-weight: bold;
}
#gallery-details {
    font-size: 0.75rem;
}


/* exhibitions and links */
.table-container {
    top: 8rem;
    position: absolute;
    width: 100%;
}
.exhibition-content, .link-content {
    padding: 2rem;
    margin: 2rem;
    background-color: #40ad36;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exhibition-table td, .link-table td {
    color: black;
    font-size: 0.9rem;
    padding: 1rem;
    background-color: #ded1ce;
}

.link-table td a {
    color: black;
    text-decoration: underline;
}





/*



@media only screen and (max-width: 430px) {
    .header {height: 9rem;}
    .header h1 {font-size: 1.5rem;}
    nav ul li, nav ul li a {font-size: 1.2rem;}
    .content {top: 9.5rem;}
    .content .home-box {
        scroll-margin-top: 9.5rem;
        width: auto;
        font-size: 0.85rem;
    }
    .content .home-box img {
        width: auto;
        height: auto;
        max-width: 12rem;
        max-height: 16rem;
    }
    .contact h2, .contact a {font-size: 1.2rem;}
}
@media only screen and (max-width: 358px) {
    .header h1 {font-size: 1.25rem;}
    nav ul li, nav ul li a {font-size: 1rem;}
    .content .home-box {font-size: 0.7rem;}
    .contact h2, .contact a {font-size: 1rem;}
}
@media only screen and (max-width: 300px) {
    .header h1 {font-size: 1rem;}
    nav ul li, nav ul li a {font-size: 0.8rem;}
    .content .home-box {font-size: 0.7rem;}
    .contact h2, .contact a {font-size: 0.8rem;}
}


@media only screen and (max-height: 696px) and (min-width: 430px) {
    .header {height: 7rem}
    .header-name {
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header-name .header-logo img {padding: 1rem;}
    .header h1 {font-size: 1.5rem;}
    .content {
        top: 7rem;
        padding-bottom: 4rem;
    }
    .content .home-box {
        scroll-margin-top: 7rem;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .content .home-box:hover {
        transform: scale(1.0125);
        box-shadow: 0.25rem 0.25rem 0.5rem black;
    }
    .contact {
        height: 2.5rem;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
}


@media only screen and (min-width: 1272px) {
    .header {height: 11rem}
    .header-name {
        height: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header-name .header-logo img {
        width: 5rem;
        padding: 0.5rem 2rem;
    }
    .header h1 {font-size: 5rem;}
    nav ul {height: 3rem;}
    nav ul li, nav ul li a {font-size: 2rem;}
    .content {
        top: 11rem;
        padding-top: 0.5rem;
        padding-bottom: 3.5rem;
    }
    .content .home-box {
        scroll-margin-top: 11rem;
        font-size: 1.1rem;
    }
    .contact {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .contact h2, .contact a {
        font-size: 2rem;
    }
}

*/