
/*universal styles*/
html {
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    opacity: 80%;
}
body {
    margin: 0; padding: 0;
}

/* fonts */
a {
    text-decoration: none;
}
#here {
    color: #bbbbbb;
    cursor: default;
}

/* index */

/* test */
.name, .contact, .nav, .sub-nav {
    margin: 0.5rem;
}

/*header*/
.header {
    background-color: white;
}
header a:hover, .nav a:hover, .contact a h2:hover, .gallery-nav a:hover {
    color: #999999;
    cursor: pointer;
}
.name {
    background-color: #409936;
}
.name a {
    margin: 0;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
}
.name a h1 {margin: 0;}
.contact a {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.contact img {
    height: 1.5rem;
}
.contact a h2 {
    margin: 0; padding: 0;
    font-size: 1.5rem;
    color: black;
    letter-spacing: 0.25rem;
}
.nav {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav a {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: black;
}
.sub-nav {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub-nav a {
    margin: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: black;
}


/* main */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .home-box {
    padding: 1rem;
    margin: 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .home-box img {
    padding: 0.125rem;
    margin: 0.125rem;
    height: 20rem;
}



/* about */
.about-container {
    margin: 1rem;
}
.about-container table td {
    padding: 0.5rem;
}

/* statement*/
.statement-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}
.statement-portrait, .statement-text {
    padding: 2rem;
}
.statement-portrait img {
    height: 20rem;
}
#statement-quote {
    padding: 0.25rem;
    font-style: italic;
    text-align: center;
}
#statement-quote p {
    margin: 0;
}

/*gallery*/
.gallery-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.gallery-box {
    margin: 1rem; 
    padding: 1rem;
}
.gallery-box img {
    height: 20rem;
}
#gallery-title {
    font-size: 1rem;
    font-weight: bold;
}
#gallery-details {
    font-size: 0.75rem;
}


/* paintings sizing */
#fluidity {height: 36.8rem;}
#struggling {height: 32rem;}
#towards-the-light {height: 40rem;}
#saplings {height: 30.4rem;}
#underpass-salisbury-to-old-sarum {height: 32rem;}
#holloway {height: 32rem;}
#still-in-love-with-green {height: 48.8rem;}
#poundbury-construction {height: 20.4rem;}
#fragments {height: 32rem;}
#whats-in-a-wave {height: 32rem;}
#no-plastic {height: 40rem;}
#no-plastic-2 {height: 40rem;}
#bars-of-light {height: 40rem;}
#junction {height: 16rem;}
#naples-yellow-with-violet {height: 24rem;}

/* drawings sizing */
#divided-fields {height: 21.2rem;}
#contained-flow {height: 21.2rem;}
#dark-harvest {height: 17.2rem;}
#incursion {height: 17.2rem;}
#flow {height: 16rem;}
#fieldscape-1 {height: 11.2rem;}
#fieldscape-4 {height: 11.2rem;}
#fieldscape-3 {height: 11.2rem;}
#hedge-and-ditch {height: 16rem;}
#enclosure {height: 12rem;}
#pink-spring-1 {height: 16rem;}
#pink-spring-2 {height: 12rem;}
#crop-lines {height: 24.4rem;}
#crop-lines-2 {height: 18rem;}
#crop-lines-3 {height: 16rem;}
#crop-lines-4 {height: 17.2rem;}

/* archive sizing*/
#reconfigured {height: 60rem;}
#dark-junction {height: 50.4rem;}
#innundation {height: 60.8rem;}
#interrupted-turbulence {height: 60rem;}
#land-through-water {height: 48.8rem;}
#night-journey {height: 48.8rem;}
#weir {height: 48.8rem;}
#surge {height: 48.8rem;}
#labour-and-gold {height: 52.8rem;}
#shimmer {height: 40rem;}
#tension {height: 40rem;}
#blue-and-green-on-white {height: 20.2rem;}
#blue-and-yellow-on-white {height: 20.4rem;}
#gills-lemon {height: 15.2rem;}